SCRATCH_DIR=${EXP_DIR}/SCRATCH   # Temporary files, deleted after each cycle
#SOCA_BIN_DIR=/work/noaa/ng-godas/ycteng/runs/sandbox/20210726/build/bin
SOCA_BIN_DIR=/work/noaa/marine/kritib/builds/soca-science_build.intel/bin
#DIR_DA=/work/noaa/marine/marineda/soca-shared/DATA/obs #

#-------------------------------------------------------------------------------
# Experiment Cycle
#-------------------------------------------------------------------------------
EXP_START_DATE=20150515Z12       # exp start date in YYYYMMDDZHH format
EXP_END_DATE=20150516Z12         # exp end date in YYYYMMDDZHH format
FCST_LEN=24                      # the length (in hours) of each cycle

# how many extra restart files to save
SAVE_RST_CYCLES=0               # if 0, only most recent restarts are saved
SAVE_RST_REGEX="^......01.."     # a regular expression allowing for specific
                                 # extra restart files to be saved. (e.g. This
                                 # will save the 1st of each month.)

# to save the diagnostic files
SAVE_DIAG_ENABLED=T              # depending on diag_table these files can be
                                 # very large, be careful!

#-------------------------------------------------------------------------------
# Workload manager
#-------------------------------------------------------------------------------
JOB_NAME=ufs_cpld                # the name of your job
JOB_NPES=480 #200                # number of PEs to request
SOCA_NPES=40
JOB_TIME=00:30:00                # job runtime, in HH:MM:SS format
JOB_QOS=debug
JOB_ACCT=marine-cpu              # job account (default here is the JCSDA account)
#JOB_PARTITION=orion


#-------------------------------------------------------------------------------
# Data Assimilation Configuration
#-------------------------------------------------------------------------------
DA_MODE=noda
DA_ENS_SIZE=1
DA_NODA_FCST_ENABLED=T
DA_SEAICE_ENABLED=F #T
DA_LETKF_WINDOW=24
DA_LETKF_OBS_LIST=""
DA_VARIABLES="[socn, tocn, ssh, hocn, mld, layer_depth]"
DA_ATMHOFX_ENABLED=F
DA_DIAGB_ENABLED=F
DA_SAVE_INC=T                   # If DA_SAVE_INC=T, the variational outer loop increments
                                # are saved.
DA_REGIONAL_ENABLED=F           # Triggers the regional hack.
                                # TODO investigate building soca with MOM6 regional ("symetric memory")
DA_CHKPT_WITH_MODEL=T           # Dump analysis in restarts.
                                #  T - Uses the soca checkpoint application which initializes
                                #      MOM6 to create the new restarts. Does not work with the
                                #      regional case
                                #  F - Uses a simple python script to dump the analysis in MOM6's
                                #      restarts. Works for global and regional only if the IO layout
                                #      is 1,1
DA_ENSBDIAG_ENABLED=F           # T - Compute the standard deviation of an ensemble of (K^-1 X) and store
                                #     it to be used as a proxi of the background error
#DA_DUALRES_ENABLE=F
#DA_DUALRES_GENSUBGEOM=F
DA_DUALRES_ENABLE=F #T
DA_DUALRES_GENSUBGEOM=F
#DA_DUALRES_GENSUBGEOMLOC=work/noaa/marine/Guillaume.Vernieres/runs/dual-res/static/subgeom #/work/noaa/marine/Guillaume.Vernieres/runs/dual-res/subgeom360x320

#-------------------------------------------------------------------------------
# Model Configuration
# variables other than MODEL in this section vary based on which model is used
#-------------------------------------------------------------------------------
MODEL=ufscpld                  # which model, <geos|godas|mom6sis2>
UFS_SRC_DIR="/work/noaa/marine/Cameron.Book/fv3/cpld_config/"
MODEL_EXE=$UFS_SRC_DIR/fv3_cpld_new.exe
MODEL_RES=0.25deg 
MODEL_CFG_DIR=$UFS_SRC_DIR/CFG_DIR/$MODEL_RES   #$MODEL_DEFAULT_CFGS_DIR/$MODEL/$MODEL_RES
MODEL_DATA_DIR=${EXP_DIR}/cfg/INPUT/$MODEL_RES

# UFS specific variables
UFS_SCRATCH="$UFS_SRC_DIR/SCRATCH/$MODEL_RES"
UFS_INSTALL="$UFS_SRC_DIR/INSTALL"
UFS_ATMPETS=312 #32 #72
UFS_OCNPETS=120 #120 #120
UFS_ICEPETS=48
UFS_MEDPETS=288 #32 #96 #$UFS_ATMPETS
NSTF_NAME=0,0,0,0,0
IAU=0 #1
DT_CICE=900

#-------------------------------------------------------------------------------
# Initial Conditions (background restart files)
#-------------------------------------------------------------------------------
BKGRST_SRC=${EXP_DIR}/cfg/RESTART/2015051512
BKGRST_COLDSTART_ENABLED=F


#-------------------------------------------------------------------------------
# Forcing
#-------------------------------------------------------------------------------
FORC_ENABLED=F                   # If =T, forcing files are required by the model
FORC_SRC="/scratch2/NCEPDEV/marineda/DATM_INPUT"  # Forcing files will be obtained from here if possible
FORC_GEN_ENABLED=F               # If forcing files can't be found, regenerate them
FORC_GEN_SOURCE=FV3 #GEFS             # only gfs is available currently
DATM_START_TYPE="continue"
DATM_NAME="ufs.cpld"

#-------------------------------------------------------------------------------
# Observations
#-------------------------------------------------------------------------------
OBS_ENABLED=F
OBS_LIST_OCN="insitu" #"adt insitu sst icec" #"adt insitu sst icec icefb" #"adt insitu sst icec icefb"
OBS_TOLERATE_FAIL=T
OBS_GEN_ENABLED=F

