SCRATCH_DIR=${EXP_DIR}/SCRATCH   # Temporary files, deleted after each cycle
SOCA_BIN_DIR=/work/noaa/ng-godas/ycteng/wave/develop/20210809/build/bin
SOCA_SCIENCE_DIR=/work/noaa/ng-godas/ycteng/wave/develop/20210809/wave_da

#-------------------------------------------------------------------------------
# Experiment Cycle
#-------------------------------------------------------------------------------
EXP_START_DATE=20210801Z06       # exp start date in YYYYMMDDZHH format
EXP_END_DATE=20210801Z06         # exp end date in YYYYMMDDZHH format
FCST_LEN=6                       # the length (in hours) of each cycle

# how many extra restart files to save
SAVE_RST_CYCLES=365 #0           # if 0, only most recent restarts are saved
SAVE_RST_REGEX="^......01.."     # a regular expression allowing for specific
                                 # extra restart files to be saved. (e.g. This
                                 # will save the 1st of each month.)


#-------------------------------------------------------------------------------
# Workload manager
#-------------------------------------------------------------------------------
JOB_NAME=wave_da
JOB_ACCT=marine-cpu
JOB_TIME=00:30:00
JOB_QOS=debug #batch
JOB_NPES=480
SOCA_NPES=480
#JOB_PARTITION=orion

#-------------------------------------------------------------------------------
# Data Assimilation Configuration
#-------------------------------------------------------------------------------
DA_MODE=3dvar #noda
DA_ENS_SIZE=1
DA_NODA_FCST_ENABLED=T
DA_REGIONAL_ENABLED=N
DA_PERTURBATION_MODEL="none"
DA_SEAICE_ENABLED=F
DA_WAV_ENABLED=T
DA_LETKF_WINDOW=4
DA_LETKF_OBS_LIST=""
DA_VARIABLES="socn, tocn, ssh, hocn, swh" 
DA_CHKPT_WITH_MODEL=F
DA_DIAGB_ENABLED=F
DA_DIAGB_DIRAC_STEP=40
DA_ENSBDIAG_ENABLED=F
SAVE_DIAG_ENABLED=T
DA_OCN_IAU=F

#-------------------------------------------------------------------------------
# model configuration
#-------------------------------------------------------------------------------
MODEL=atmwav                  # godas, geos, mom6sis2
WAV_MODEL_RES="gwes_30m"
UFS_SRC_DIR="/work/noaa/ng-godas/ycteng/wave/develop/20210809/atmwav_config"
MODEL_EXE=$UFS_SRC_DIR/fv3.exe
MODEL_CFG_DIR=$UFS_SRC_DIR/CFG_DIR
MODEL_DATA_DIR=$UFS_SRC_DIR/INPUT

# UFS specific variables
UFS_SCRATCH=$UFS_SRC_DIR/SCRATCH
WW3_BIN_DIR="/work/noaa/ng-godas/ycteng/wave/develop/20210629/ufs-weather-model/WW3/model/exe"


#-------------------------------------------------------------------------------
# initial conditions (background restart files)
#-------------------------------------------------------------------------------
BKGRST_SRC="/work/noaa/ng-godas/ycteng/wave/develop/20210809/atmwav_config/rst/2021080106/ctrl" 
FV3_RST_DIR="/work/noaa/ng-godas/ycteng/wave/develop/20210809/atmwav_config/fv3_rst"
BKGRST_COLDSTART_ENABLED=F #T


#-------------------------------------------------------------------------------
# Forcing
#-------------------------------------------------------------------------------
FORC_ENABLED=F #T
FORC_SRC=/work/noaa/marine/Guillaume.Vernieres/runs/DATA/forc
FORC_GEN_ENABLED=F
FORC_GEN_SOURCE=fv3


#-------------------------------------------------------------------------------
# Observations
#-------------------------------------------------------------------------------
OBS_ENABLED=T
OBS_LIST_OCN="swh" #"insitu sst sss adt"
OBS_TOLERATE_FAIL=T
OBS_GEN_ENABLED=F

OBS_DIR="/work/noaa/ng-godas/ycteng/wave/develop/20210809/atmwav_config/obs"
OBS_SWH_SRC="${OBS_DIR}/swh"
