# the list of background files depends on whether we're using ice
_: &bkg_files_ocn
    ocn_filename: MOM.res.nc
_: &bkg_files_ocn_ice
    ice_filename: cice.res.nc
    << : *bkg_files_ocn
_: &bkg_files_ocn_wav
    wav_filename: wav.res.nc
    << : *bkg_files_ocn
_: &bkg_files *bkg_files___DOMAINS__

# the list of correlation operators depends on whether we're using ice
_corr:
  - &corr_ocn {name: ocn, variables: [__DA_VARIABLES_OCN__]}
  - &corr_ice {name: ice, variables: [__DA_VARIABLES_ICE__]}
  - &corr_wav {name: wav, variables: [__DA_VARIABLES_WAV__]}
  - &corr_list_ocn [ *corr_ocn ]
  - &corr_list_ocn_ice [ *corr_ocn , *corr_ice ]
  - &corr_list_ocn_wav [ *corr_ocn , *corr_wav ]

geometry:
  mom6_input_nml: mom_input.nml
  fields metadata: fields_metadata.yaml

# TODO Use appropriate date, somebody is abusing the lack of error traps
#      in soca!
model:
  name: PseudoModel
  tstep: PT6H
  state variables: &state_vars [__DA_VARIABLES__, mld, layer_depth]
  states:
  - date: 2018-04-15T06:00:00Z
    read_from_file: 1
    basename: ./RESTART_IN/
    << : *bkg_files

initial condition:
  read_from_file: 1
  basename: ./RESTART_IN/
  date: &date 2018-04-15T00:00:00Z # That's funny.
  << : *bkg_files
  state variables: *state_vars

background error:
  covariance model: SocaError
  analysis variables: &soca_vars [__DA_VARIABLES__]
  date: *date
  bump:
    verbosity: main
    datadir: ./bump
    strategy: specific_univariate
    load_nicas_local: 1
  perturbation scales:
    tocn: 0.5
    socn: 0.05
    ssh: 0.0
    cicen: 0.1
    hicen: 0.0
    swh: 0.2
  correlation: *corr_list___DOMAINS__

  variable changes:

  - variable change: VertConvSOCA
    Lz_min: 0.0
    Lz_mld: 0
    Lz_mld_max: 1.0
    scale_layer_thick: 5
    input variables: *soca_vars
    output variables: *soca_vars

  - variable change: BkgErrFILT
    ocean_depth_min: 0    # [m]
    rescale_bkgerr: 1.0
    efold_z: 2500.0       # [m]
    input variables: *soca_vars
    output variables: *soca_vars

  - variable change: BkgErrGODAS
    t_min: 0.1
    t_max: 2.0
    t_dz:  20.0
    t_efold: 500.0
    s_min: 0.0
    s_max: 0.25
    ssh_min: 0.0   # value at EQ
    ssh_max: 0.0   # value in Extratropics
    ssh_phi_ex: 20 # lat of transition from extratropics
    cicen_min: 0.1
    cicen_max: 0.5
    hicen_min: 10.0
    hicen_max: 100.0
    swh_min: 0.1 #0.1 #0.1
    swh_max: 10.0 #10.0 #1.0 #1.50 #0.1
    input variables: *soca_vars
    output variables: *soca_vars

  - variable change: HorizFiltSOCA
    niter: 2
    filter variables: *soca_vars
    input variables: *soca_vars
    output variables: *soca_vars

  - variable change: BalanceSOCA
    #NOTE: T/S balance is turned off here
    dsdtmax: 0.0
    dsdzmin: 3.0e-6
    dtdzmin: 1.0e-6
    nlayers: 10
    input variables: *soca_vars
    output variables: *soca_vars



members: #DA_ENS_SIZE#
perturbed variables: *soca_vars
forecast length: PT6H

output:
 frequency: PT6H
 datadir: Data
 exp: pert
 type: ens
 date: *date
